:root {
  --color-background: #fff;
  --color-primary-lighter: #4481eb;
  --color-primary-light: #5995fd;
  --color-title-in-primary: #444;
  --color-text-in-primary: #333;
  --color-input-background: #f0f0f0;
  --color-icons: #acacac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}
